*~
*.bak
*.mod
*.o
paw*
src/*~
prp/*
system.make
sys/*
Slai/*.pdf
SLai/*log
*/*/*-converted-to.pdf 
tool/doxygen.conf
tool/example/*
tool/html/*
tool/latex/*
tool/src/*.pyc
tool/src/*~
TEST*/
single_atom.*
.DS_Store
mod.deps
